ipykernel
numpy
pandas
Faker
langchain
python-dotenv
langchain_community
openai
langchain_openai
faiss-cpu
langchain_ollama
sentence_transformers
langchain_huggingface
hnswlib
chromadb
bitsandbytes
accelerate
torch
transformers
ctransformers
